<!DOCTYPE html>
<html>
    <head>
        <title>Django Mesh</title>
    </head>

    <body>
        <h1>Register with Django Mesh</h1>

        {% if registered %}
        Django Mesh says: <strong>thank you for registering!</strong>
	<meta http-equiv="REFRESH" content="5; {% url 'mesh_index' %}" >

        {% else %}
        Django Mesh says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/front/" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

	<h1> OR </h1>
	 

	<form id="login_form" method="post" action="/front/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
	

    </body>
</html>
