

{% extends "django_mesh/base.html" %}
{% block content %}

<div class="channel_list">
    {% if channel_list %}

        {% for channel in channel_list %}

            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-preview">

                                <a href="{% url 'mesh_channel_view' slug=channel.slug %}">
                                    <h2 class="post-title">
                                        {{ channel.title }}
                                    </h2>
                                    <h3 class="post-subtitle">

                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        <hr>
                <ul class="pager">
                    <li class="next">
                        {% include 'django_mesh/pagination.html' with page_obj=page_obj paginator=paginator only %}
                    </li>
                </ul>

    {% else %}
        There are no channels to display.
    {% endif %}
</div>
{% endblock content %}