{% extends "django_mesh/base.html" %}
{% block content %}

<div class="post_list">

{% for post in post_list %}
	<div>
		<a href="{% url 'mesh_post_view' slug=post.slug %}">{{ post.title }}</a>
		<p class="summary">{{ post.summary }}</p>
	</div>
{% empty %}
	There are no posts to display.
{% endfor %}
{% include 'django_mesh/pagination.html' with page_obj=page_obj paginator=paginator only %}

</div>

{% if request.user.is_authenticated %} 
    {% if request.user not in channel.followers.all %}

        <div class="channel_list">
            {% for channel in channel_list %}
            {% empty %}
                <form id="category_form" method="post" action="{% url 'mesh_sub' slug=channel.slug %}">
                    {% csrf_token %}
                    <input type="submit" name="submit" value="SUBSCRIBE to channel" />
                </form>
            {% endfor %}
        </div>
    {% endif %}

{% else %}
    Please log in to subscribe
{% endif %}

{% endblock content %}




