{% extends "django_mesh/base.html" %}
{% load comments %}
{% block content %}
<h2>{{ post.title }}</h2>
<div class="post">
	<p>{{ post.text }}</p>
	{% for item in post.item_set.all %}
	<div class="item">
		<p>{{ item.text }}</p>
		<a href="{{ item.url }}" class="oembed">{{ item.title }}</a>
	</div>
	{% endfor %}
</div>
{% get_comment_count for post as comment_count %}
{% render_comment_form for post %}
<p>{{ comment_count }} comments have been posted.</p>
<div class="comment_list">
	{% get_comment_list for post as comment_list %}
	{% for comment in comment_list|slice:":25" %}
	<div>
		<a name="comment_{{ comment.id }}"></a>
		<p>{{ comment.comment }}</p>
		<a href="{% get_comment_permalink comment %}">
			permalink for comment #{{ forloop.counter }}
		</a>
	</div>
	{% endfor %}
</div>
{% endblock content %}
