{% extends "django_mesh/base.html" %}
{% load comments %}
{% load pagination_tags %}
{% block content %}

<h2>{{ post.title }}</h2>

{% get_comment_count for post as comment_count %}
{% render_comment_form for post %}

<p>{{ comment_count }} comments have been posted.</p>
<div class="comment_list">
	{% get_comment_list for post as comment_list %}
	{% autopaginate comment_list 50 %}
	{% for comment in comment_list %}
	<div>
		<a name="comment-{{ comment.id }}"></a>
		<p>{{ comment.comment }}</p>
		<a href="{% get_comment_permalink comment '#comment-%(id)s' %}">
			permalink for comment #{{ forloop.counter }}
		</a>
	</div>
	{% endfor %}
</div>
{% paginate %}
{% endblock content %}
